@model Gryffindor.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="divHeading">@ViewBag.Title</div>
<hr>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="editProfileContainer">
        <ol>
            <li>
                <p class="label">@Html.LabelFor(m => m.OldPassword)</p>
                    @Html.PasswordFor(m => m.OldPassword)
                <br>@Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li>
                <p class="label">@Html.LabelFor(m => m.NewPassword)</p>
                    @Html.PasswordFor(m => m.NewPassword)
                <br>@Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                <p class="label">@Html.LabelFor(m => m.ConfirmPassword)</p>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                <br>@Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
        </ol>
    </div>
    <hr>
    <div class="editProfileContainer">
        <button type="submit" class="greenBackground btn">
            Update Password
        </button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}